* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 1240px;
    margin: 0 auto;    
}
.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 114px;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 46, 54,1),
        rgba(255,255,255,0)
    );
    z-index: 2;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}   
.nav1 {
    height: 55px;
    width: 800px;
    text-align: right;
    margin-left: 150px;
    padding-top: 15px;
}
.nav ul {
    display: flex;
    justify-content: flex-end;
}
.nav1 li {
    display: block;
    width: 50px;
}
.nav1 a {
    font-size: 10px;
    color: #fff;
}
.nav2 .a {
    font-size: 18px;
    color: #fff;
}
.nav li {
    display: block;
    text-align: center;
}
.nav2 {
    height: 59px;
    width: 800px;
    margin-left: 150px;
}
.nav2 .li {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100px;
    justify-content: center;
}
.nav .iconfont {
    color: #fff;
}
.nav2 .li:hover .a{
    color: rgb(226, 202, 91);
}
.nav2 span {
    display: block;
    transition: transform 0.3s ease; 
}
.xialamenu1 {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    border-top: 5px solid rgb(238, 150, 64);
    text-align: center;
    width: 90px;
    top: 88px;
    left: 560px;
    z-index: 2;
    display: none !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.xialamenu1.show,.xialamenu2.show,.xialamenu3.show,.xialamenu4.show {
    display: block !important;
}
.xialamenu2 {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    border-top: 5px solid rgb(238, 150, 64);
    text-align: center;
    width: 90px;
    top: 88px;
    left: 860px;
    z-index: 2;
    display: none !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.xialamenu3 {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    border-top: 5px solid rgb(238, 150, 64);
    text-align: center;
    width: 90px;
    top: 88px;
    left: 960px;
    z-index: 2;
    display: none !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.xialamenu4 {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    border-top: 5px solid rgb(238, 150, 64);
    text-align: center;
    width: 90px;
    top: 88px;
    left: 1060px;
    z-index: 2;
    display: none !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.xialamenu1 a,.xialamenu2 a,.xialamenu3 a,.xialamenu4 a {
    color: rgb(97, 0, 171);
    display: block;
    width: 90px;
    height: 35px;
    line-height: 35px;
}
.xialamenu1 a:hover,.xialamenu2 a:hover,.xialamenu3 a:hover,.xialamenu4 a:hover {
    background-color: rgb(237, 237, 237);
}



.footer {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
}
.narlink {
    margin-top: 50px;
    margin-left: 80px;
}
.narlink h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}
.narlink a {
    font-size: 14px;
    color: rgb(57, 82, 96);
    display: block;
    width: 150px;
    height: 30px;
    margin-right: 50px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.narlink div {
    display: flex;
    overflow: hidden;
}
.information {
    position: relative;
    margin-top: 80px;
    width: 100vw;
    height: 220px;
    overflow: hidden;
}
.background_div {
    position: absolute;
    height: 180px;
    width: 20vw;
    background-color: rgb(198, 207, 215);
    bottom: 0;
    z-index: 2;
    margin-left: 30px;
}
.top_div {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: rgb(168, 41, 35);
    bottom: 0;
    z-index: 3;
    margin-left: 50px;
    padding-top: 40px;
    padding-left: 40px;
}
.top_div_top {
    display: flex;
}
.top_div_top_logo {
    width: 320px;
    height: 50px;
    background-image: url(../Assets/Images/logo.png);
    background-size: cover;
}
.top_div_top_left {
    color: #fff;
    font-size: 12px;
    width: 100%;
    height: 50px;
    margin-left: 30px;
    line-height: 25px;
}
.top_div_top_left ul {
    display: flex;
}
.top_div_top_left li {
    margin-left: 20px;
}
.top_div_bottom {
    width: 100%;
    height: 70px;
    margin-top: 35px;
    border-top: 1px solid pink;
}
.top_div_bottom {
    display: flex;
    font-size: 10px;
    padding-top: 20px;
    color: rgb(236, 226, 242);
}
.top_div_bottom p {
    margin-left: 15px;
}
.QRcode {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 110px;
    right: 165px;    
    z-index: 3;
    background-image: url(../Assets/Images/QRcode_school_wechat.jpg);
    background-size: cover;
}
