.newspic {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url(../Assets/Images/bgi_02.jpg);
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.next_pic {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../Assets/Images/bgi_01.jpg);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.test {
    height: 1000px;
    width: 800px;
    background-color: skyblue;
}
